body {
  background-color: #EBE6FF;
}

#mainContainer {
  background-color: white;
  box-shadow: 1px 1px 3px gray;
  border-radius: 3px;
}

#butterBarContainer {
  display: none;
}

#butterBarContent {
  border-radius: 0px 0px 5px 5px;
  boder-top: none;
}

.infoBar {
  background-color: #8CFF80;
  border: 1px solid #39BC2C;
}

.errorBar {
  background-color: #FF8086;
  border: 1px solid #C32D35;
}

